

.img_button{
  margin-top: 15%;
  margin-left: 15%;
  width: 400px;
  height: 100px;
}



.div_img{
  display: flex;
}

.metade {
  background-color: #000;
  width: 50%;
  height: 550px;
  border-radius: 20px;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.mensagem{
  background-color: #fff;
  border-radius: 50px;
  width: 300px;
  height: 40px;
  display: flex;
  margin-top: 5%;
  flex-direction: row;
  justify-content: center;
  padding-top: 1%;
  font-size: 10px;
}




