

.img_button{
  margin-top: 15%;
  margin-left: 15%;
  width: 400px;
  height: 100px;
}

.img_bola{
  margin-left: 29%;
  height: 400px;
  width: 300px;
}

.div_img{
  display: flex;
}

.metade {
  background-color: #000;
  width: 50%;
  height: 550px;
  border-radius: 20px;
}

.mensagem{
  background-color: #fff;
  border-radius: 50px;
  width: 500px;
  height: 20px;
  text-align: center;
}




