<div class="elementos">
  <div class="metade">
    <div class="dicas">
      <img src="../../../../../../assets/images/interrogação preta.jpg" class="interrogacao_img">
      <h2 class="label_dicas">Dicas</h2>
    </div>

    <div class="img_mensagem">
      <img
        src="../../../../../../assets/images/jorge mascote.jpg"
        class="mascote"
      />

      <div class="mensagens">
        <h3 class="mensagem mat-typography-config">
          Selecione uma foto bacana
        </h3>

        <h3 class="mensagem mat-typography-config">
          que possua algo q te defina
        </h3>
      </div>
    </div>
    <div>
      <img
        src="../../../../../../assets/images/scout preto.jpg"
        class="logo_preta"
      />
    </div>
  </div>

  <div class="botao_image">
    <img
      src="../../../../../../assets/images/upload de imagem.jpg"
      class="upload_img"
    />
    <button mat-button color="primary" class="enviar_imagem">
      Enviar imagem
    </button>
  </div>
</div>
