

.img_button{
  margin-top: 15%;
  margin-left: 15%;
  width: 400px;
  height: 100px;
}



.div_img{
  display: flex;
}

.metade {
  background-color: #000;
  padding-right: 2%;
  width: 50%;
  height: 550px;
  border-radius: 20px;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.mascote{
  width: 190px;
  height: 300px;
  display: flex;
}

.img_mensagem{
  display: flex;
  align-items: center;
}

.logo_preta{
  width: 350px;
  height: 80px;
  margin-left: 10%;
  margin-top: 3%;
}

.mensagens{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 10px;
  font-weight: 900 !important;
}

.upload_img{
  width: 230px;
  height: 150px;

}

.dicas{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.label_dicas{
  color: #fff;
}

.interrogacao_img{
  height: 80px;
  width: 90px;
}


.elementos{
  display: flex;
  align-items: center;
}

.mensagem{
  background-color: #fff;
  border-radius: 50px;
  width: 260px;
  height: 40px;
  display: flex;
  margin-top: 5%;
  flex-direction: row;
  justify-content: center;
  padding-top: 1%;
}

.enviar_imagem{
  background-color: #57DDA4;
  color: #fff;
  width: 270px;
  height: 50px;
  border-color: none;
  border-radius: 20px;
  margin-top: 10%;
}

.botao_image{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
}





