<img src="../../../../assets/images/background.jpg" id="fundinho" alt="">
<div id="principal">
  <div id="fotinhas">
    <img id="mina" src="../../../../assets/images/mina.jpg">
    <div id="texto">
      <label>Criação de Perfil</label>
    </div>
  </div>
  

  <button mat-raised-button class="botoes" (click)="cadastroDescricao()">
    <img src="../../../../assets/images/row.png" id="flecinha" alt="">
    Coloque uma foto de Perfil Maneira!!
  </button>


  <button mat-raised-button class="botoes" (click)="cadastroImagem()">
    <img src="../../../../assets/images/row.png" id="flecinha" alt="">
    Faça uma breve descrição sobre você
  </button>
</div>