<form class="login" [formGroup]="formLogin">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>E-mail</mat-label>
    <input
     matInput
     placeholder="Emanoel@gmail.com"
     formControlName="email">
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>nome</mat-label>
    <input
     matInput
     placeholder="Emanoel"
     formControlName="nome">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Senha</mat-label>
    <input
     type="password"
     matInput
     formControlName="nome">
  </mat-form-field>

</form>
