<div fxLayout="row" class="elementos">
  <div class="metade">
    <img src="https://i.postimg.cc/ncbMGNvk/scout-sport.png" />

    <form class="login" [formGroup]="formLogin">

      <mat-form-field class="example-full-width">
        <mat-label>Nome de usuario</mat-label>
        <input
          matInput
          ngModel
          placeholder="Emanoel"
          formControlName="nome"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="nome" required />
      </mat-form-field>
    </form>

  

  </div>
  <div>
    <img
      src="https://i.postimg.cc/5yy9mY1Y/scout-sport-bola.png"
      class="img_bola"
    />
    <img
      src="https://i.postimg.cc/9QDtKq5x/scout-sport-burrom.png"
      class="img_button"
    />
  </div>
</div>
