<div class="elementos">
    <div class="metade">
      <div class="dicas">
        <img src="../../../../../../assets/images/interrogação preta.jpg" class="interrogacao_img">
        <h2 class="label_dicas">Dicas</h2>
      </div>

      <div class="img_mensagem">
        <img
          src="../../../../../../assets/images/jorge mascote.jpg"
          class="mascote"
        />

        <div class="mensagens">
          <h3 class="mensagem mat-typography-config">
            Informe seu esporte
          </h3>

          <h3 class="mensagem mat-typography-config">
            Escreva sobre você
          </h3>

          <h3 class="mensagem mat-typography-config">
            compartilhe suas conquistas
          </h3>
        </div>
      </div>
      <div>
        <img
          src="../../../../../../assets/images/scout preto.jpg"
          class="logo_preta"
        />
      </div>
    </div>

    <div class="botao_image">

      <form action="">
        <div class="div_textarea form-group">
          <img class="img_branco" src="../../../../../../assets/images/scout-branco.jpg" for="exampleFormControlTextarea1">
          <textarea class="textarea form-control"  rows="3"></textarea>
        </div>
        <button mat-button color="primary" class="enviar_imagem">
          Enviar descrição
        </button>
      </form>

    </div>
  </div>
