.background{
  background-color: #2F7356;
  height: 100%;
  width: 100%;
}

.btns{
  border-radius:0px 0px 10px 10px;
  background-color: #fff;
  height: 60%;
  width: 30%;
}

.botoes{
  background-color: #2F7356;
  color: #fff;
  width: 90%;
  height: 12%;
  margin: 4%;
}

.imagem{
  border-radius: 10px 10px 0px 0px;
  width: 30%;
}
