<div fxLayout="row" class="elementos">
  <div class="metade">
    <img src="https://i.postimg.cc/ncbMGNvk/scout-sport.png" />

    <form class="login" [formGroup]="formCadastro">
      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          placeholder="Emanoel@gmail.com"
          formControlName="email"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Nome de usuario</mat-label>
        <input
          matInput
          ngModel
          placeholder="Emanoel"
          formControlName="nome"
          required
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="senha" required />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Confirmar senha</mat-label>
        <input type="password" matInput formControlName="confirmarSenha" required />
      </mat-form-field>

      <button mat-raised-button class="botoes btn_cadastrar"  routerLink="menuCadastro">
        <mat-icon class="material-icons-outlined">
          person_add
        </mat-icon>
        Confirmar
      </button>
    </form>
  </div>
  <div>
    <img
      src="https://i.postimg.cc/5yy9mY1Y/scout-sport-bola.png"
      class="img_bola"
    />
  </div>
</div>

